{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
<p class="terms">
  {{ with ($.Param "categories" ) }}
  {{ range $k := . }}
	<a href="{{ relURL (print "/" "categories" "/" $k | urlize) }}">{{$k}}</a>
  {{ end }}
  {{ end }}
</p>
<p class="terms">
  {{ with ($.Param "tags" ) }}
  {{ range $k := . }}
	<a href="{{ relURL (print "/" "tags" "/" $k | urlize) }}">#{{$k}}</a>
  {{ end }}
  {{ end }}
</p>
</div>
{{ if .Params.toc }}
{{ .TableOfContents }}
{{ else }}
<hr width="60%" />
{{ end }}
<main>
{{ .Content }}
</main>
{{ partial "footer.html" . }}
